/*************** start general style ***************/
body{
    margin:0px;
    font-family: sans-serif;
    height: 100%;

}
.container{
  min-width: 100%;
}
/*************** end general style ***************/

/*************** start sidebar style  ***************/
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111111f5; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  .sidenav a {
    text-decoration: none;
    font-size: 25px;
    color:#fff ;
    display: block;
    transition: 0.3s;
    text-align: center;
  }
  .sidenav a:hover {
    color: #818181;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
    #main {
    transition: margin-left .5s;
    overflow: auto;
  }
    @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/*************** end sidebar style  ***************/
/**************** start navbar style ***************/
nav{
    height: 80px;
    margin-top: 32px; 
    display: flex;
  justify-content: space-between;
}
nav img{
    width: 64px;
    height: 32px;
}
nav  i{
font-size: 30px;}
nav span:hover{
  color: #ec563d;
}


/**************** end navbar style ***************/

/**************** start content style ***************/
.content{
  display: flex;
  flex-direction: column;

}
.upper-content{
  display: flex;
  margin-bottom: 30px;
}
.left-upper{
  text-align: center;

}
.left-upper h2{
  color:#ec563d;
  font-size: 30px;
  padding: 30px;

}
.right-upper{
  display: flex;
  flex-direction: column;
  width: 50% ;
  height: 100%;
}
.right-upper p{
  color:#666666;
  line-height: 1.6;
  font-family: 'PT Sans',sans-serif;
  font-size: 18px;
}
#freepik_link{
  color:#ec563d;
  text-decoration: none;
}
#read_more{
  color: #fff;
  text-decoration: none;
  background-color: #ec563d;
  width:148px;
  height: 25px;
  padding: 10px 52px 10px 50px;
  text-align: center;
}
#read_more:hover{
  background-color: #000;
}
.dwoner-content{
  display: flex;
  height: 540px;
  margin-bottom: 60px;
}
.left_downer{
  width: 50%!important;
  margin-right: 10px;
}
.left_downer img{
  width: 100%;
  height: 100%;
}
.right_downer{
  display: flex;
  flex-direction: column;

}
.upper_right_downer{
  display: flex;
  height: 50%;
  margin-bottom: 5px;

  
}
.rurd-img{
  width: 50%;
}
.rurd-img img{
  width: 100%;
  height: 100%;
}
.down_right_downer{
  height: 50%;
}
.down_right_downer img{
  width: 100%;
  height: 100%;
}
.urd-content{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding:30px ;
  align-items: center;
  background-color: #f5f7fa;
  margin-right: 11px;
}
.urd-content p {
  font-style: italic;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.6;
    margin-top: 20px;

}





/**************** end content style ***************/

/*************** start footer section ***************/
footer{
    background-color: #333333;
    text-align: center;
    color:#fff;
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    position: relative;
    clear: both;

}
.upper-footer{
    padding: 49px 0px 49px 0px;
    width: 340px;
    align-self: center;
}
.upper-foorer p {
    margin: 49px 287px 49px 437px;
    line-height: 1.6;
}
.downer-fotter{
    padding: 16px;
}
.downer-fotter a{
    color:#adbff7;
}
.downer-fotter a:hover{
    color:#adbff7;
    text-decoration: none;
}

/*************** end footer section ***************/

/*************** start media query style ***************/

@media only screen and (max-width: 600px) {
  nav{
    padding: 0px 65px 0px 65px;
  
  }
  .content{
    margin: 0px 50px 0px 50px;
  }
  .upper-content{
    display: flex;
    flex-direction: column;
    align-items: center; 

  }
  .right-upper{
    width: 100%;
  }
  .dwoner-content{
    flex-direction: column;
    
  }
  .left_downer{
    margin-bottom: 20px;

  }
  .right_downer{
    width: 100%;
  }
  .urd-content{
    width: 100%;
    height:auto !important; 
  }

  .down_right_downer{
    width: 100%;
  }
  
  .urd-content svg{
      height: 50px;
      width: 50px;
  }
  .upper_right_downer{
    flex-direction: column;
  }
  .rurd-img{
    width: 100%;
  }
  .upper_right_downer{
    margin-bottom: 50px!important;
  }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
  nav{
    padding: 0px 76px 0px 76px;
  }
  .content{
    margin: 0px 50px 0px 50px;
  }
  .upper-content{
    display: flex;
    flex-direction: column;
    align-items: center; 
 }
 .right-upper{
  width: 100%;
}
  .dwoner-content{
    flex-direction: column;
  }
  .left_downer{
    width: 100% !important;
    margin-bottom: 20px;

  }
  .right_downer{
    width: 100%;
  }
  .urd-content{
    width: 100%;
    height:auto !important; 
    margin-bottom: 20px;

  }
  .upper_right_downer{
    flex-direction: column;
    width: 100%;
  }
  .rurd-img{
    width: 100%;
    margin-bottom: 20px;
  }
  .upper_right_downer{
    margin-bottom: -50px;
  }

 

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px) {
  nav{
    padding: 0px 86px 0px 86px;
  }
  .content{
    margin: 0px 50px 0px 50px;
  }
  .dwoner-content{
    flex-direction: column;
  }
  .left_downer{
    width: 100% !important;
    margin-bottom: 20px;
  }
  .urd-content{
    height: 50%;
    padding: 0px ;
    margin-bottom: 20px;

  }
 .urd-content svg{
  margin-top: 30px;
 }
  .urd-img{
    height: 50%;
  }
  .right_downer{
    width: 100%;
  }
  .rurd-img{
    height:  50%;
    margin-bottom: 20px;
  }
  .down_right_downer{
    margin-top: -120px !important;
  }
  .upper_right_downer{
    height: auto;
  }

  

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1199px) {
  nav{
    padding: 0px 98px 0px 98px;
  }
  .content{
    margin: 0px 50px 0px 50px;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  nav{
    padding: 0px 180px 0px 180px;
  }
  .content{
    margin: 0px 180px 0px 180px;
  }




}